.marginLR {
  margin: 0px 8rem;
}

@media (max-width: 1024px) {
 .marginLR{
  margin: 0px 4.5rem;
 }
} 

@media (max-width: 768px) {
 .marginLR{
  margin: 0px 3rem;
 }
} 

.title {
    color: #364DFA;
    font-size:4.5rem;
    text-align: center;
    padding: 1.2rem 0px;
}

@media (max-width: 768px) {
 .title{
  font-size: 3.5rem;
 }
} 

@media (max-width: 430px) {
 .title{
  font-size: 3rem;
 }
} 

.shelf{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(20rem, auto);
    gap: 6vw;
    justify-content: center;
    align-items: start;
}

.piece > div{
    margin: 0.5rem 0px;
}

@media (max-width: 800px) {
    .shelf {
        grid-template-columns: 1fr;
    }
}

.img43 {
  aspect-ratio: 4 / 3;
  width: 100%;
  background: #eee;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}
.img43 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.date {
    font-size:1.2rem;
    color:#9BA6FD;
}

.headline{
    font-size:1.92rem;
    color: #364DFA;
    hyphens: auto;
}

.content{
    font-size:1.2rem;
    color: #364DFA;
    hyphens: auto;
}

.switch_page{
    color: #FFC23A;
    margin-top: 2rem;
    text-align:right;
    font-size: 1.92rem;
}
.switch_page:hover{
    cursor: pointer;
}


.news_nav_bar{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0px;
    gap: 0px 2rem;
    font-size: 1.92rem;
    justify-content:center;
    text-align: center;;
}

@media(max-width: 800px){
    .news_nav_bar > div{
    width: 100%
    }
}

.news_nav_bar button{
    color: #FFC23A;
    text-decoration: underline;
}

.news_nav_bar > button:hover{
    cursor: pointer;
}



