/* First layer */

.header {
    /* Let circle_background in ProjectColumn.jsx stretch to header*/
    position: relative;
    z-index: 10;

    --element-space: 1.6rem;
    --font-size: 1.4em;

    height: auto;
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: var(--element-space) 0px;

}

/* second layer */
/* Left side */
.nav_bar{
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

/* third layer */

/* Take effect include image */


.nav_bar a{
    padding-left: var(--element-space);
    display: flex;
    align-items: center;
    font-size: var(--font-size);

    /* Animate the color */
    text-decoration-color: transparent;
    transition: text-decoration-color 0.6s; 
}

.nav_bar a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2.5px;   
    text-underline-offset: 6px;
}

.nav_bar img{
    width: auto;
    height: 2.5rem;     /* rem or px */
}

.right_side {
    display: flex;
    align-items: center;
    height: 100%;
}

.desktop_links {
    display: flex;
}
.menu_icon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-left: calc(var(--element-space)/3);
    color: #ffffff;
    width: 48px;
    height: 48px;
    padding: 0;
}


.menu_icon svg {
    width: 100%;
    height: 100%;
    
}
.mobile_menu {
    position: absolute;
    top: 6.8rem;
    left: 0;
    width: 100%;
    background: #9ba6fb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
.mobile_menu a {
    color: white;
    padding: 1.2rem var(--element-space);
    text-align: left;
    text-decoration: none;
    width: 100%;
}
@media (max-width: 700px) {
    .desktop_links {
        display: none;
    }
    .menu_icon {
        display: flex;
    }
}


.project_column{
    background-color: transparent;
    color: #ffffff;
}


.news {
    background-color: #ffffff;
    color: #364DFA;
}
.news .nav_bar a:hover{
    text-decoration-color: #364dfa;
}
.news .menu_icon{
    color: #364DFA;
}
.news .mobile_menu a:hover{
    text-decoration-color: #ffffff;
}


.projects {
    background-color: #364DFA;
    color: #ffffff;
}


.leader {
    background-color: #364DFA;
    color: #ffffff;
}


.members {
    background-color: #ffffff;
    color: #364DFA;
}
.members .nav_bar a:hover{
    text-decoration-color: #364dfa;
}
.members .menu_icon{
    color: #364DFA
}
.members .mobile_menu a:hover{
    text-decoration-color: #ffffff;
}


.homepage {
    background-color: #364DFA;
    color: #ffffff;
}




