.back{
    background-color: #364DFA;
    color: #ffffff;
}

/* First level */
.marginLR {
  margin: 0px 6rem;
}

@media (max-width: 1024px) {
 .marginLR{
  margin: 0px 4.5rem;
 }
} 

@media (max-width: 768px) {
 .marginLR{
  margin: 0px 3rem;
 }
} 


.title {
    color: #ffffff;
    font-size:4.5rem;
    text-align: center;
    padding: 1.2rem 0px;

}

@media (max-width: 835px) {
 .title{
  font-size: 3.5rem;
 }
} 

@media (max-width: 430px) {
 .title{
  font-size: 3rem;
 }
} 

.subtitle {
    font-size:1.2rem;
    text-align: center;
    padding: 1.2rem 0px;
}

.shelf{
    display: grid;
    padding: 4.8rem 0px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(20rem, auto);
    gap: 6vw;
    justify-content: center;
    align-items: start;
}

/* Second level */

.piece > div{
    margin: 0.5rem 0px;
}

@media (max-width: 800px) {
    .shelf {
        grid-template-columns: 1fr;
    }
}

.img43 {
  aspect-ratio: 4 / 3;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
.img43 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.headline{
    font-size:1.92rem;
    text-align: center;
}

.content{
    font-size:1.2rem;
    text-align: center;
}

.tag{
    display: flex;
    flex-wrap: wrap;
}

.switch_page{
    background-color: #364dfa;
    color: #ffc23a;
    padding: 1rem;
    text-align:right;
    font-size: 1.92rem;
    border-radius: 12px;
    display: inline-block;
    margin-left: auto;
}
.switch_page:hover{
    cursor: pointer;
}

.space{
    width: 100%;
    margin-bottom: 25px;

}