.back{
    background-color: #364DFA;
    color: #ffffff;
}

/* First level */
.marginLR {
  margin: 0px 6rem;
}

@media (max-width: 768px) {
 .marginLR{
  margin: 0px 3rem;
 }
} 


.title {
    font-size:5rem;
    text-align: center;
    padding: 1.2rem 0px;

}

@media (max-width: 768px) {
 .title{
  font-size: 4rem;
 }
} 

.subtitle {
    font-size:1.4rem;
    text-align: center;
    padding: 1.2rem 0px;
}

.shelf{
    display: grid;
    padding: 1.2rem 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(20rem, auto);
    gap: 4rem;
    justify-content: center;
    align-items: start;
}

/* Second level */

.piece > div{
    margin: 0.5rem 0px;
}

@media (max-width: 800px) {
    .shelf {
        grid-template-columns: 1fr;
    }
}

.img43 {
  aspect-ratio: 4 / 3;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.img43 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.headline{
    font-size:1.92rem;
    text-align: center;
}

.content{
    font-size:1.2rem;
    text-align: center;
}