.footer {
    background-color: #0E133F;
    padding: 10vh 12vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    --margin-between-two-info-columns-L: 10%;
    --margin-between-two-info-columns-R: 5%;
}


.heading {
    font-size: 1.4rem;
    color: #FFC23A;
    margin-bottom: 0.2rem;
}
@media (max-width: 420px)
{
    .heading {
        font-size: 1.2rem;
    }
}

.hr {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    height:2.5px;
    background-color: #FFC23A;
}

/* Section 1 */ 
.parent{
    display: flex;
}
.sec1_L{
    margin-right: 14%;
    margin-bottom: 1rem;
}

.sec1_R{
    margin-bottom: 2rem;
}


@media (max-width: 800px){

    .parent{
        flex-direction: column;
    }
    .sec1_L{
        margin-right: 0px;
    }

}

.logo{
    width: 29rem;
    height:auto;
}


.p {
    color: #B1B3BD;
    width:auto;
    height: auto;
    font-size: 1.2rem;
    max-width: 29rem;
}

@media (max-width: 420px)
{
    .p{
        font-size: 1em;
    }
}

/* link */
.li {
    font-size: 1.4em;
    color: #ffffff;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    margin: 0.6rem 0px;
}

@media (max-width: 420px)
{
    .li {
        font-size: 1.2rem;
    }
}



/* Section 2 */
.section2{
    margin-bottom: auto;
}



.info_mother{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* color of text */
    color: #FFFFFF;
    flex-direction: row;
}

.info {
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    width: 50%;
    margin: 1.2rem 0px;
    font-size: 1.2rem;
    align-items: center;
}

@media (max-width: 420px)
{
    .info {
        font-size: 1rem;
    }
}


/* Overwrite .info */
.first_and_third{
    width: calc(50% - var(--margin-between-two-info-columns-L)); 
    margin-right: var(--margin-between-two-info-columns-L);
} 

.second_and_fourth{
    width: calc(50% - var(--margin-between-two-info-columns-R));
    margin-left: var(--margin-between-two-info-columns-R)
}


/* On mobile */
@media (max-width: 950px){
    .info_mother{
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .first_and_third{
        margin-right: 0px;
        width: auto;
    }
    .second_and_fourth{
        margin-left: 0px;
        width: auto;
    }
}

@media(max-width: 420px){
    .info{
        flex-wrap: wrap;
    }
    .info div{
        width: 100%;
        margin-bottom: 5px;
    }
}


.icon{
    width: 2.5rem;
    height: 2.5rem;
    /* color of icon (otherwise they inherite from <button>) */
    color: #CDD3FE;
}

@media (max-width: 420px)
{
    .icon{
        width: 2rem;
        height: 2rem;
    }
}



/* Section 3 */
.fine{
    font-size: 0.8rem;
    color: #B1B3BD;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
@media (max-width: 420px)
{
    .fine{
        font-size: 0.6rem;
    }
}



.credit{
    text-decoration: underline;
}




