.footer {
    background-color: #17181A;
    padding: 5rem 10rem;

    --margin-between-two-info-columns-L: 10%;
    --margin-between-two-info-columns-R: 5%;
}

@media (max-width: 950px){
    .footer{
        padding: 5rem 7rem;
    }
}

@media (max-width: 720px){
    .footer{
        padding: 5rem 3rem;
    }
    
}

.heading {
    font-size: 1.5rem;
    color: #CDA514;
    margin-bottom: 0.2rem;
}

.hr {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    height:2.5px;
    background-color: #7D7B5B;
}

/* Section 1 */ 
.parent{
    display: flex;
    margin-bottom: 10px;
}
.sec1_L{
    margin-right: 14%;
}

@media (max-width: 800px){

    .parent{
        flex-direction: column;
    }
    .sec1_L{
        margin-right: 0px;
    }

}

.logo{
    width: 29rem;
    height:auto;
}


.p {
    color: #D5D5D5;
    width:auto;
    height: auto;
    font-size: 1.5em;
}

@media (max-width: 720px)
{
    .p{
        font-size: 1em;
    }
}

/* link */
.li {
    font-size: 1.5em;
    color: #B7B7B7;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    margin: 0.6rem 0px;
}

@media (max-width: 720px){
    .li{
        font-size: 1.5rem;
    }
}

/* Section 2 */
.info_mother{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* color of text */
    color: #9D821D;
    flex-direction: row;
}

.info {
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    width: 50%;
    margin: 1.2rem 0px;
    font-size: 1.1rem;
    align-items: center;
}


/* Overwrite .info */
.first_and_third{
    width: calc(50% - var(--margin-between-two-info-columns-L)); 
    margin-right: var(--margin-between-two-info-columns-L);
} 

.second_and_fourth{
    width: calc(50% - var(--margin-between-two-info-columns-R));
    margin-left: var(--margin-between-two-info-columns-R)
}


/* On mobile */
@media (max-width: 950px){
    .info_mother{
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .first_and_third{
        margin-right: 0px;
        width: auto;
    }
    .second_and_fourth{
        margin-left: 0px;
        width: auto;
    }
}

@media(max-width: 400px){
    .info{
        flex-wrap: wrap;
    }
    .info div{
        width: 100%;
        margin-bottom: 5px;
    }
}


.icon{
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    /* color of icon (otherwise they inherite from <button>) */
    color: #9D821D;
}


/* Section 3 */
.fine{
    font-size: 0.8rem;
    color: #BABABA;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    
}

.slogan{
    max-width: 29rem;
}


